# Test calculation AR

In [1]:
import pandas as pd
import numpy as np
import time
import datetime 
import LinearReg
from sklearn.linear_model import LinearRegression


path = "/Users/admin/Documents/Interd Project/data/"

In [2]:
DD = pd.read_pickle(path+"DD.pkl")

compRI = pd.read_excel(path+"daily_returns.xlsx")
marketRI = pd.read_excel(path+"market_daily.xlsx")

In [3]:
DD = DD.drop(columns=["Unnamed: 0","Unnamed: 0.1"])
DD = DD.drop_duplicates()

In [126]:
L1 = 200
L2 = 20

In [127]:
isin = compRI['ISIN'][0]
zeig = DD[DD['ISIN CODE'] == isin]
event_day = DD["Filing Date"][0]
comp_index = compRI[compRI['ISIN'] == isin].index
zeig.head(3)

,X,Filing Date,Trade Date,Ticker,Insider Name,Title,Trade Type,Price,Qty,Owned,...,1w,1m,6m,Company Name,Last Name,First Name,Second Name,Rest Name,Gender,ISIN CODE
0,D,2006-01-05 11:46:58,2005-12-30,AABC,Ottensmeyer David,Dir,P - Purchase,$0.00,"+7,914","42,494",...,NaN,NaN,NaN,NaN,Ottensmeyer,David,NaN,NaN,Male,US00431F1057
1,D,2006-01-05 11:46:42,2005-12-30,AABC,Martin Thomas W III,Dir,P - Purchase,$0.00,"+8,006","30,624",...,NaN,NaN,NaN,NaN,Martin,Thomas,W,III,Male,US00431F1057
2,D,2006-01-05 11:46:23,2005-12-30,AABC,Lydick Robert Chad,Dir,P - Purchase,$0.00,"+6,418","22,921",...,NaN,NaN,NaN,NaN,Lydick,Robert,Chad,NaN,Male,US00431F1057

In [128]:
isin

'US00431F1057'

In [129]:
event_day =pd.to_datetime(event_day).normalize()
event_day

Timestamp('2006-01-05 00:00:00')

In [130]:
company_RI = compRI[compRI["ISIN"].isin([isin])]

#same index for market and company
event_index = compRI.columns.get_loc(event_day)

T1_index = event_index-L2
T2_index = event_index+L2
T0_index = T1_index-L1
T3_index = T2_index+L1
print(T0_index, T1_index,T2_index,T3_index)

1475 1675 1715 1915

In [131]:
#Do we even need this? 
market_event_RI =marketRI.iloc[:1,event_index]
comp_event_RI =company_RI.iloc[comp_index,event_index]

In [132]:
#Do we even need this? --> Need for tests 
T1_comp = company_RI.iloc[:1,T1_index]
T1_market = marketRI.iloc[:1,T1_index]
T0_comp = company_RI.iloc[:1,T0_index]
T0_market = marketRI.iloc[:1,T0_index]
T2_comp = company_RI.iloc[:1,T2_index]
T2_market = marketRI.iloc[:1,T2_index]
T3_comp = company_RI.iloc[:1,T3_index]
T3_market = marketRI.iloc[:1,T3_index]

In [133]:
# Estimation window
estimation_window_market = marketRI.iloc[:1,T0_index:T1_index]
estimation_window_comp = company_RI.iloc[:,T0_index:T1_index]

print(estimation_window_market.shape)
print(estimation_window_comp.shape)

# Event-Window
event_window_market = marketRI.iloc[:1,T1_index:T2_index]
event_window_comp= company_RI.iloc[:,T1_index:T2_index]

print(event_window_market.shape)
print(event_window_comp.shape)

(1, 200)
(1, 200)
(1, 40)
(1, 40)

In [134]:
y=estimation_window_comp.values[0,:]
X=estimation_window_market.values[0,:]

X = np.c_[np.ones(X.shape[0]), X]

reg = LinearRegression().fit(X,y)

# Remove the constant
x = x[:,1]
a = reg.intercept_
b = reg.coef_

In [135]:
event_day

Timestamp('2006-01-05 00:00:00')

In [136]:
AR = event_window_comp - alpha - beta*event_window_market
AR

,2005-12-08,2005-12-09,2005-12-12,2005-12-13,2005-12-14,2005-12-15,2005-12-16,2005-12-19,2005-12-20,2005-12-21,...,2006-01-19,2006-01-20,2006-01-23,2006-01-24,2006-01-25,2006-01-26,2006-01-27,2006-01-30,2006-01-31,2006-02-01
0,-105.59912,-105.567271,-105.547784,-105.557956,-105.59864,-105.59744,-105.56058,-105.612135,-105.574338,-105.581047,...,-105.580707,-105.582748,-105.581284,-105.580847,-105.581428,-105.580697,-105.580733,-105.581234,-105.581329,-105.581177

In [165]:
'''Calculate Cumulative Abnormal Returns (CARs) for the periods -20 to -1 trading days,
0 to 5 trading days, 0 bis 10 trading days, and 0 to 20 trading days, using the ARs calculated in
step 3.'''

CAR_20_1= AR.iloc[:,0:19].cumsum(axis=1)
CAR_0_5 = AR.iloc[:,20:26].cumsum(axis=1)
CAR_0_10 = AR.iloc[:,20:31].cumsum(axis=1)
CAR_0_20 = AR.iloc[:,20:40].cumsum(axis=1)